<ion-view title="Agregar Batalla" id="page10">
    <ion-content padding="true" class="has-header" padding="true" style="background: url(img/FondoBatallaNavalAlta.jpg) no-repeat center;background-size:cover;"
        class="has-header">
        <div id="gridWrapper">

            <div class="flipBtnWrapper">
                <input class="flipBtn_checkbox" type="checkbox" />
                <div class="flipBtn demo1">
                    <div class="flipBtn_face flipBtn_back demo1"></div>
                    <div class="flipBtn_face flipBtn_mid demo1"></div>
                    <div class="flipBtn_face flipBtn_front demo1"></div>
                </div>
            </div>

            <div class="flipBtnWrapper">
                <input class="flipBtn_checkbox" type="checkbox" />
                <div class="flipBtn demo2">
                    <div class="flipBtn_face flipBtn_back demo2"></div>
                    <div class="flipBtn_face flipBtn_mid demo2"></div>
                    <div class="flipBtn_face flipBtn_front demo2"></div>
                </div>
            </div>

            <div class="flipBtnWrapper">
                <input class="flipBtn_checkbox" type="checkbox" />
                <div class="flipBtn demo3">
                    <div class="flipBtn_face flipBtn_back demo3"></div>
                    <div class="flipBtn_face flipBtn_mid demo3"></div>
                    <div class="flipBtn_face flipBtn_front demo3"></div>
                </div>
            </div>

            <div class="flipBtnWrapper">
                <input class="flipBtn_checkbox" type="checkbox" />
                <div class="flipBtn demo4">
                    <div class="flipBtn_face flipBtn_back demo4"></div>
                    <div class="flipBtn_face flipBtn_mid demo4"></div>
                    <div class="flipBtn_face flipBtn_front demo4"></div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>