
.alerta{
  color: #edf538;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
}

.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}


.texto{
  display: inline; 
  color:#f1e88e; 
  font-weight:600;
}

.myGrid {
    width: 500px;
    height: 250px;
  }

.lista{
 background-color: #11c1f3;
 border-color: #11c1f3;


}
.text-descripcion{
  background-color: white;
}


 .platform-ios .manual-ios-statusbar-padding {
      padding-top: 20px;
    }

    .manual-remove-top-padding {
      padding-top: 0px;
    }

    .manual-remove-top-padding .scroll {
      padding-top: 0px !important;
    }

    ion-list.manual-list-fullwidth div.list,
    .list.card.manual-card-fullwidth {
      margin-left: -10px;
      margin-right: -10px;
    }

    ion-list.manual-list-fullwidth div.list>.item,
    .list.card.manual-card-fullwidth>.item {
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px;
    }

    .show-list-numbers-and-dots ul {
      list-style-type: disc;
      padding-left: 40px;
    }

    .show-list-numbers-and-dots ol {
      list-style-type: decimal;
      padding-left: 40px;
    }


    /*Parte batalla naval */

    /*cartas efecto*/
#gridWrapper{
  margin: auto;
  height: 200px;
	width: 75%;
  font-family: "bookman old style";
  margin-bottom: -7%;
}
a:link{
  color:#0095DD;
}
.flipBtnWrapper{
  width: 40%;
  height: 40%;
  position: relative;
  float: left;
  margin: 6% 4%;
}
.flipBtn, .flipBtn_checkbox, .flipBtn_face{
  position: absolute;
  width: 100%;
  height: 100%;
}
.flipBtn {    
  transition: transform 2s;  
  transform-style: preserve-3d;  
  pointer-events: none;
  box-shadow: 0px 0px 4px #C7C7C7;
}
.flipBtnWrapper:hover >  .flipBtn{
   box-shadow: 0px 0px 4px #828282;
}
.flipBtn_back{  
  transform:  translateZ( -10px );
}
.flipBtn_front{
  transform: translateZ( 10px );
  backface-visibility: hidden;
}
.flipBtn_back, .flipBtn_front{
  background-repeat: no-repeat;
  background-position: center;
}
.flipBtn_checkbox{
  opacity: 0;
  cursor: pointer;
}

/* Demo No 1 */

.flipBtn_front.demo1{
	background-size: cover;
  background-image: url("../img/ImagenBarco.jpg"), linear-gradient(#FF6366 50%, #FEA56E);
}
.flipBtn_back.demo1{
	background-size: cover;
  background-image:  url("../img/atrasPirata.jpg"), linear-gradient(#FF6366 50%, #FEA56E);
}
.flipBtn_mid.demo1{
  height: 20px;  
	background-color: rgb(188, 166, 125);
  transform: rotateX(90deg);
  top: -10px;
}
.flipBtn_checkbox:checked + .flipBtn.demo1{
  transform: rotateX( -180deg );
}

/* Demo No 2 */

.flipBtn_front.demo2{
	background-size: cover;
  background-image: url("../img/ImagenBarco.jpg"), linear-gradient(#27B89B 50%, #45C765);
}
.flipBtn_back.demo2{
	background-size: cover;
  background-image:  url("../img/atrasPirata.jpg"), linear-gradient(#27B89B 50%, #45C765);
}
.flipBtn_mid.demo2{
  height: 20px;  
	background-color: rgb(188, 166, 125);
  transform: rotateX(-90deg);
  bottom: -10px;
}
.flipBtn_checkbox:checked + .flipBtn.demo2{
  transform: rotateX( 180deg );
}

/* Demo No 3 */

.flipBtn_front.demo3{
	background-size: cover;
  background-image: url("../img/ImagenBarco.jpg"), linear-gradient(#27B89B 50%, #45C765);
}
.flipBtn_back.demo3{
	background-size: cover;
  background-image:  url("../img/atrasPirata.jpg"), linear-gradient(#27B89B 50%, #45C765);
}
.flipBtn_mid.demo3{
  width: 20px;
	background-color: rgb(188, 166, 125);
  transform: rotateY(90deg);
  right: -10px;
}
.flipBtn_checkbox:checked + .flipBtn.demo3{
  transform: rotateY( -180deg );
}

/* Demo No 4 */

.flipBtn_front.demo4{
	background-size: cover;
  background-image: url("../img/ImagenBarco.jpg"), linear-gradient(#FF6366 50%, #FEA56E);
}
.flipBtn_back.demo4{
	background-size: cover;
  background-image:  url("../img/atrasPirata.jpg"), linear-gradient(#FF6366 50%, #FEA56E);
}
.flipBtn_mid.demo4{
  width: 20px;
	background-color: rgb(188, 166, 125);
  transform: rotateY(-90deg);
  left: -10px;
}
.flipBtn_checkbox:checked + .flipBtn.demo4{
  transform: rotateY( 180deg );
}


/*Fin*/