
.alerta{
  color: #edf538;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
}

.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}


.texto{
  display: inline; 
  color:#f1e88e; 
  font-weight:600;
}

.myGrid {
    width: 500px;
    height: 250px;
  }

.lista{
 background-color: #11c1f3;
 border-color: #11c1f3;


}
.text-descripcion{
  background-color: white;
}


 .platform-ios .manual-ios-statusbar-padding {
      padding-top: 20px;
    }

    .manual-remove-top-padding {
      padding-top: 0px;
    }

    .manual-remove-top-padding .scroll {
      padding-top: 0px !important;
    }

    ion-list.manual-list-fullwidth div.list,
    .list.card.manual-card-fullwidth {
      margin-left: -10px;
      margin-right: -10px;
    }

    ion-list.manual-list-fullwidth div.list>.item,
    .list.card.manual-card-fullwidth>.item {
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px;
    }

    .show-list-numbers-and-dots ul {
      list-style-type: disc;
      padding-left: 40px;
    }

    .show-list-numbers-and-dots ol {
      list-style-type: decimal;
      padding-left: 40px;
    }


[nav-bar-transition=ios] [nav-bar=entering] .bar, [nav-bar-transition=ios] [nav-bar=active] .bar {
    background: 0 0;
    color: white;
    background-color: rgba(68, 68, 68, 0.73);
}

    /*Parte batalla naval */

    /*cartas efecto*/
body {
  cursor: url("https://ionicframework.com/img/finger.png"), auto;
}

.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
}
.dark .scroll-content {
  background-color: #3f4041 !important;
}
.dark .item {
  background-color: #3f4041;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
  max-height: none;
}
.dark .item:last-child {
  border-bottom: 1px solid #333333;
}
.dark .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}
.dark .item.current p, .dark .item.current h3 {
  opacity: .7;
}
.dark h2,
.dark h3,
.dark p,
.dark a {
  color: #F0F1F1;
}

.dark-head {
  text-decoration: none;
}
